{% extends 'base.html.twig' %}

{% block title %}Gérer mes échanges{% endblock %}

{% block body %}
<div class="container">
    <h1>Gérer les échanges</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-hover">
        <thead>
          <tr>
            <th>
                Echanges
            </th>
            <th>                
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
    {% for echange in echanges %}
        <tr>
            <td>
                {{ echange.title }}
            </td>
            <td>
                <a href="{{ path('editer_mon_echange', {id: echange.id}) }}" class="btn btn-success">Éditer</a>
            </td>
            <td>
                <form method="POST" action="{{ path('supprimer_mon_echange', {id: echange.id}) }}" onsubmit="return confirm('Êtes vous sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ echange.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>   
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}